# 0. variables

In [3]:
space_name = 'Astrouaut Nick'

In [4]:
space_name

'Astrouaut Nick'

In [5]:
type(space_name)

str

# 1. Data Types

In [6]:
# This is declearing a variable as a string
string_variable = 'pluto'
print(string_variable)

pluto

In [7]:
type(string_variable)

str

In [8]:
# This is declearing a variable as an integer
integer_variable = 123852
type(integer_variable)

int

In [9]:
integer_variable +=10

In [8]:
integer_variable

123862

In [9]:
#This is declearing a variable as a float
float_variable = 128.16
type(float_variable)

float

In [10]:
#This is assigning a Boolean value to a variable
bool_variable = bool(0)      #bool(0) is converting 0 to a boolean value which is False
type(bool_variable)

bool

In [11]:
bool_variable

False

In [12]:
# This is creating a list variable
list_variable = [1,2,3,123.44,85.4,22.1]
type(list_variable)

list

In [13]:
list_variable[5]

22.1

In [14]:
list_variable[5] = 123

In [15]:
list_variable

[1, 2, 3, 123.44, 85.4, 123]

In [16]:
# This is creating a tuple variable (Immutable)
tuple_variable = (1,2,3,123.44,85.4,22.1)
type(tuple_variable)

tuple

In [17]:
tuple_variable[3]= 123 # This error message below indicates that tuple is immutable, meaning you can not modify or change its values

TypeError: 'tuple' object does not support item assignment

In [ ]:
# This is creating a set variable (also immutatble)
set_variable = {1,2,3,123.44,85.4,22.1}
type(set_variable)

In [18]:
set_variable[5] = 155  # you can not change the values

NameError: name 'set_variable' is not defined

In [19]:
set_variable = {1,2,3,123.44,85.4,22.1,3}      # you can not store duplicates in a set
set_variable

{1, 2, 3, 22.1, 85.4, 123.44}

In [20]:
list_variable = [1,2,3,123.44,85.4,22.1,1,2,3,123]     # you can store duplicates in a list
list_variable

[1, 2, 3, 123.44, 85.4, 22.1, 1, 2, 3, 123]

In [21]:
# Type casting list to set back to to list to get rid of duplicates
list(set(list_variable))

[1, 2, 3, 123, 85.4, 22.1, 123.44]

In [23]:
# Defining a dictionary variable
dict_variable = {'name': 'Nick', 'favoriate color': 'red', ' favoriate number': 20}
dict_variable

{'name': 'Nick', 'favoriate color': 'red', ' favoriate number': 20}

In [26]:
dict_variable['name']

'Nick'

In [27]:
# coverting a list to tuple
tuple(list_variable)

(1, 2, 3, 123.44, 85.4, 22.1, 1, 2, 3, 123)

# 2. Lists

In [1]:
# Create
names = ['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk']

In [2]:
# Read
names[0]

'neil armstrong'

In [3]:
# Read
names [-1]

'elon musk'

In [4]:
len(names)

5

In [6]:
# Update
names [-1] = 'Helen Corbat'
names

['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'Helen Corbat']

In [7]:
names.append('elon musk')
names

['neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'Helen Corbat',
 'elon musk']

In [10]:
names.insert(0,'richard branson')
names

['richard branson',
 'neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'Helen Corbat',
 'elon musk']

In [11]:
# Delete
names[-2]

'Helen Corbat'

In [12]:
del names[-2]
names

['richard branson',
 'neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'elon musk']

# 3. Dictionaries

In [19]:
# Create
astronut = {
    "name":"elon musk",
    "suit_size":"large",
    "allergies":"peanut"
}

In [21]:
#Read
astronut['name']

'elon musk'

In [24]:
suit_size = astronut['suit_size']
suit_size

'large'

In [26]:
astronut.keys()

dict_keys(['name', 'suit_size', 'allergies'])

In [27]:
list(astronut.keys())

['name', 'suit_size', 'allergies']

In [28]:
astronut.values()

dict_values(['elon musk', 'large', 'peanut'])

In [29]:
#Update
astronut['allergies'] = 'mango'
astronut

{'name': 'elon musk', 'suit_size': 'large', 'allergies': 'mango'}

In [30]:
astronut['space_ship'] = 'Galactic 1'
astronut

{'name': 'elon musk',
 'suit_size': 'large',
 'allergies': 'mango',
 'space_ship': 'Galactic 1'}

In [31]:
#Delete
del astronut['space_ship']
astronut

{'name': 'elon musk', 'suit_size': 'large', 'allergies': 'mango'}

# 4. Conditions and Logic

In [33]:
# Applying logic using the IF statement
name = 'Nick'
if name != 'Neil Armstrong':
    print('Sup not Neil')

Sup not Neil

In [34]:
test_number = 10
if test_number > 5:
    print('Number is greater than equal to 5')

Number is greater than equal to 5

In [39]:
probability = 0.1
# Porbability is greater than 0.5
if probability >= 0.5:
    print(True)
# Print out o statement if probability is below
elif probability < 0:
    print('Check your probabilities')
#Anything else
else:
    print(False)

False

In [19]:
names = ['Neil Armstrong', 'buzz aldrion', 'sally ride', 'yuri gagarin','elon musk']
if 'elon musk' in names:
    print('elon \'s here')     #\ is python escapes to escape from the second ', and avoid error

elon 's here

#5. Loops

In [21]:
# This is an example of a for loop
for name in names:
    print(name)
    #Condition statement block
    if name == 'buzz aldrion':
        print('Sup buzz\n')
        #Next value in the loop
        continue
    elif name == 'yuri gagarin':
        print('Hey yuri')
        # stops the loop
        break
    # Catch all
    else:
        # placeholder to do nothing
        pass
    #outside of if statement block
    print('Please to have you here!\n')

Neil Armstrong
Please to have you here!

buzz aldrion
Sup buzz

sally ride
Please to have you here!

yuri gagarin
Hey yuri

In [24]:
# loop x number of times
for idx in range(1,11):
    print(idx)

1
2
3
4
5
6
7
8
9
10

In [28]:
# Create launch variables
launched_shuttles = 0
total_shuttles = 10

# Create a while loop
while True:
    # String formatting
    print('Shuttle {} launched'.format(launched_shuttles +1))
    launched_shuttles +=1

    if launched_shuttles == total_shuttles:
        print("All shuttles launched")
        break

Shuttle 1 launched
Shuttle 2 launched
Shuttle 3 launched
Shuttle 4 launched
Shuttle 5 launched
Shuttle 6 launched
Shuttle 7 launched
Shuttle 8 launched
Shuttle 9 launched
Shuttle 10 launched
All shuttles launched

In [29]:
# Creating a dictionary
astronut = {
    "name": "Elon Musk",
    "suit_size":"Medium",
    "alergies": "Peanuts"
}

In [30]:
# Accessing dictionary keys
astronut.keys()

dict_keys(['name', 'suit_size', 'alergies'])

In [31]:
# Loop through keys in a dictionary
for key in astronut.keys():
    print(key)

name
suit_size
alergies

In [32]:
# Accessing dictionary values (loop through values in a dictionary)
for value in astronut.values():
    print(value)

Elon Musk
Medium
Peanuts

In [34]:
# Loop through keys and values in a dictionary at the same time
for key, value in astronut.items():
    print(key)
    print(value, '\n')

name
Elon Musk

suit_size
Medium

alergies
Peanuts

# String method

In [1]:
'Hello world'.upper()

'HELLO WORLD'

In [2]:
'HELLO WORLD'.lower()

'hello world'

In [3]:
'hello world'.title()

'Hello World'

In [4]:
'hello world'.count('l')

3

In [5]:
'hello world'. replace('o','u')

'hellu wurld'

In [1]:
f'Hello World'

'Hello World'

In [2]:
message_1 = "I'm learning python"

In [3]:
f'{message_1}'

"I'm learning python"

In [7]:
message_2 = "and It's fun"

In [8]:
f'{message_1} {message_2}'

NameError: name 'message_1' is not defined

# List

In [9]:
countries = ['United States','United States','India','China','Brazil']

In [10]:
countries

['United States', 'United States', 'India', 'China', 'Brazil']

In [11]:
countries[0]

'United States'

In [12]:
countries[2]

'India'

In [13]:
countries[3]

'China'

In [14]:
countries[-1]

'Brazil'

In [15]:
countries[-2]

'China'

# Slicing
# List [start:stop]

In [16]:
countries[0:3]

['United States', 'United States', 'India']

In [17]:
countries[0:1]

['United States']

In [18]:
countries[2:5]

['India', 'China', 'Brazil']

In [19]:
countries[2:]

['India', 'China', 'Brazil']

In [20]:
countries[:2]

['United States', 'United States']

# Adding elements to a list

In [21]:
countries.append('Canada')

In [22]:
countries

['United States', 'United States', 'India', 'China', 'Brazil', 'Canada']

In [23]:
countries.insert(0,'Spain')
countries

['Spain',
 'United States',
 'United States',
 'India',
 'China',
 'Brazil',
 'Canada']

In [24]:
countries_2 = ['UK','Germany','Austria']

In [25]:
countries + countries_2

['Spain',
 'United States',
 'United States',
 'India',
 'China',
 'Brazil',
 'Canada',
 'UK',
 'Germany',
 'Austria']

In [26]:
nested_list = [countries,countries_2]

In [27]:
nested_list

[['Spain',
  'United States',
  'United States',
  'India',
  'China',
  'Brazil',
  'Canada'],
 ['UK', 'Germany', 'Austria']]

# Removing elements from list

In [28]:
countries.remove('United States')
countries

['Spain', 'United States', 'India', 'China', 'Brazil', 'Canada']

In [29]:
countries.pop(-1)

'Canada'

In [3]:
countries

NameError: name 'countries' is not defined

In [31]:
del countries[0]

In [32]:
countries

['United States', 'India', 'China', 'Brazil']

# Sorting a list

In [33]:
numbers = [4,3,10,7,1,2]

In [34]:
numbers.sort()

In [35]:
numbers

[1, 2, 3, 4, 7, 10]

In [36]:
numbers = [4,3,10,7,1,2]
numbers.sort(reverse = True)

In [37]:
numbers

[10, 7, 4, 3, 2, 1]

# Update an element

In [38]:
numbers[0] = 1000
numbers

[1000, 7, 4, 3, 2, 1]

# Copying a list

In [40]:
new_list =countries[:]

In [41]:
new_list

['United States', 'India', 'China', 'Brazil']

In [42]:
new_list_2 = countries.copy()

In [43]:
new_list_2

['United States', 'India', 'China', 'Brazil']

# Dictionary

In [45]:
my_dict = {'key1': 'value 1', ' key2': 'value 2'}

In [15]:
my_data = {'name': 'Frank', 'age': 26}

In [48]:
my_data

{'name': 'Frank', 'age': 26}

In [49]:
my_data.keys()

dict_keys(['name', 'age'])

In [50]:
my_data.values()

dict_values(['Frank', 26])

In [51]:
my_data.items()

dict_items([('name', 'Frank'), ('age', 26)])

In [52]:
my_data['height'] = 1.7

In [14]:
my_data

NameError: name 'my_data' is not defined

In [58]:
my_data.update({'height': 1.9})

In [13]:
my_data

NameError: name 'my_data' is not defined

# Copy a dictionary

In [59]:
new_dict = my_data.copy()

In [57]:
new_dict

{'name': 'Frank', 'age': 26, 'height': 1.8}

In [60]:
new_dict_2 = my_data

In [61]:
new_dict_2

{'name': 'Frank', 'age': 26, 'height': 1.9}

# Remove Element

In [62]:
my_data.pop('name')

'Frank'

In [63]:
my_data

{'age': 26, 'height': 1.9}

In [64]:
del my_data['age']

In [65]:
my_data

{'height': 1.9}

In [66]:
my_data.clear()

In [67]:
my_data

{}

# If Statement

In [2]:
age = 14


if age >= 18:
    print("You're an adult!")
elif age >=13:
    print("You're a teenager.")
else:
    print("You're a kid.")

You're a teenager.

# For Loop

In [6]:
countries = ['United States', 'India', 'China','Brazil']

In [12]:
for i, country in enumerate(countries):
    print(i, country)

0 United States
1 India
2 China
3 Brazil

In [9]:
for country in (countries):
    print(country)

United States
India
China
Brazil

In [16]:
my_data

{'name': 'Frank', 'age': 26}

In [18]:
for key, value in my_data.items():
    print(key,value)

name Frank
age 26

# Function

In [19]:
def sum_values(a,b):
    x = a+b
    return x

In [20]:
sum_values(2,10)

12

# 8.1 Built-in Functions

In [22]:
countries = ['United States', 'India', 'China','Brazil']

In [23]:
len(countries)

4

In [25]:
max([10,63,81,1,99])

99

In [26]:
min([10,63,81,1,99])

1

In [27]:
type(countries)

list

In [29]:
for i in range(1,10,2):
    print (i)

1
3
5
7
9

# 9 Module

In [ ]:
import

# 9.1 OS Module

In [31]:
import os

In [34]:
os.getcwd()

'C:\\Users\\Owner\\Python for Data Science Extra learning'

In [35]:
os.listdir()

['.ipynb_checkpoints', 'Python Basics.ipynb']

os.makedirs()

In [3]:
import pandas as pd
import numpy as np

# 1. Creating a dataframe from an array

# 1.1 Option 1

In [4]:
# Creating an array
data = np.array([[1,4],[2,5],[3,6]])

In [6]:
# Creating a dataframe
df = pd.DataFrame(data,index = ['row1','row2','row3'],columns = ['col1','col2'])

In [7]:
# Showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

# 1.2 Option 2

In [8]:
# creating an array with list shape

data = [[1,4],[2,5],[3,6]]

In [9]:
# creating a dataframe
df = pd.DataFrame(data,index = ['row1','row2','row3'],columns = ['col1','col2'])

In [10]:
#showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

# 2. Creating a dataframe from a dictionary

In [11]:
# lists used for this example

states = ['California', ' Texas', 'Florida', 'New York']
population = [39613493, 29730311, 21944577, 19299981]

In [16]:
# Storing lists within a dictionary
dict_states = {'States': states, 'Population': population}
dict_states

{'States': ['California', ' Texas', 'Florida', 'New York'],
 'Population': [39613493, 29730311, 21944577, 19299981]}

In [14]:
# Creating dataframe
df_population = pd.DataFrame(dict_states)

In [15]:
# showing the dataframe
df_population

       States  Population
0  California    39613493
1       Texas    29730311
2     Florida    21944577
3    New York    19299981

# 3. Creating a dataframe from a CSV file

In [4]:
# reading the csv file

df_clinical = pd.read_csv('C:\\Users\\Owner\\OneDrive\\MSDS 2025\\DS6021_Intro to Machine learning\\HW or Projects\\Class Activity\\Clinical_trial.csv')

In [6]:
df_clinical

   Drug  Pain_Rating
0     A            4
1     A            5
2     A            4
3     A            3
4     A            2
5     A            4
6     A            3
7     A            4
8     A            4
9     B            6
10    B            8
11    B            4
12    B            5
13    B            4
14    B            6
15    B            5
16    B            8
17    B            6
18    C            6
19    C            7
20    C            6
21    C            6
22    C            7
23    C            5
24    C            6
25    C            5
26    C            5

In [7]:
# Show first 5 rows in a dataframe

df_clinical.head()

  Drug  Pain_Rating
0    A            4
1    A            5
2    A            4
3    A            3
4    A            2

In [8]:
# Show last 5 rows in a dataframe

df_clinical.tail()

   Drug  Pain_Rating
22    C            7
23    C            5
24    C            6
25    C            5
26    C            5

In [9]:
# Show first n rows in a dataframe
df_clinical.head(10)

  Drug  Pain_Rating
0    A            4
1    A            5
2    A            4
3    A            3
4    A            2
5    A            4
6    A            3
7    A            4
8    A            4
9    B            6

In [10]:
# Show last n rows in a dataframe
df_clinical.tail(10)

   Drug  Pain_Rating
17    B            6
18    C            6
19    C            7
20    C            6
21    C            6
22    C            7
23    C            5
24    C            6
25    C            5
26    C            5

In [11]:
# Getting access to the shape attributes

df_clinical.shape

(27, 2)

In [13]:
# Display n rows (when you over 1000 rows of observations, by default, it will not display the complete 1000 rows of data, and it will use ..... then continue on the rows. The code below is to change the default setting so you can see all 1000 rows

pd.set_option('display.max_rows', 1000)
df_clinical

   Drug  Pain_Rating
0     A            4
1     A            5
2     A            4
3     A            3
4     A            2
5     A            4
6     A            3
7     A            4
8     A            4
9     B            6
10    B            8
11    B            4
12    B            5
13    B            4
14    B            6
15    B            5
16    B            8
17    B            6
18    C            6
19    C            7
20    C            6
21    C            6
22    C            7
23    C            5
24    C            6
25    C            5
26    C            5

# 1. Attributes

In [14]:
# Getting access to the shape attributes

df_clinical.shape

(27, 2)

In [16]:
# Getting access to the index attributes

df_clinical.index

RangeIndex(start=0, stop=27, step=1)

In [17]:
# Getting access to the column attributes

df_clinical.columns

Index(['Drug', 'Pain_Rating'], dtype='object')

In [19]:
df_clinical

   Drug  Pain_Rating
0     A            4
1     A            5
2     A            4
3     A            3
4     A            2
5     A            4
6     A            3
7     A            4
8     A            4
9     B            6
10    B            8
11    B            4
12    B            5
13    B            4
14    B            6
15    B            5
16    B            8
17    B            6
18    C            6
19    C            7
20    C            6
21    C            6
22    C            7
23    C            5
24    C            6
25    C            5
26    C            5

In [18]:
# Data types of each column

df_clinical.dtypes

Drug           object
Pain_Rating     int64
dtype: object

# 2. Methods

In [20]:
# Showing the first 5 columns

df_clinical.head()

  Drug  Pain_Rating
0    A            4
1    A            5
2    A            4
3    A            3
4    A            2

In [21]:
# Showing the info of the dataframe

df_clinical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Drug         27 non-null     object
 1   Pain_Rating  27 non-null     int64
dtypes: int64(1), object(1)
memory usage: 564.0+ bytes

In [22]:
# Describing basic statistics of the dataframe

df_clinical.describe()

       Pain_Rating
count    27.000000
mean      5.111111
std       1.476309
min       2.000000
25%       4.000000
50%       5.000000
75%       6.000000
max       8.000000

# 3. Functions

In [24]:
# Obtaining the length of the dataframe (number of rows)

len(df_clinical)

27

In [25]:
# Obtaining the highest index of the dataframe

max(df_clinical.index)

26

In [26]:
# Obtaining the lowest index of the dataframe

min(df_clinical.index)

0

In [27]:
# Obtaining the data type

type(df_clinical)

pandas.core.frame.DataFrame

In [28]:
# rounding the values of the dataset, nothing will happen here since the values are integers, not floats

round(df_clinical,2)

   Drug  Pain_Rating
0     A            4
1     A            5
2     A            4
3     A            3
4     A            2
5     A            4
6     A            3
7     A            4
8     A            4
9     B            6
10    B            8
11    B            4
12    B            5
13    B            4
14    B            6
15    B            5
16    B            8
17    B            6
18    C            6
19    C            7
20    C            6
21    C            6
22    C            7
23    C            5
24    C            6
25    C            5
26    C            5

In [1]:
import pandas as pd

In [2]:
# Reading the csv file
df_clinical = pd.read_csv('C:\\Users\\Owner\\OneDrive\\MSDS 2025\\DS6021_Intro to Machine learning\\HW or Projects\\Class Activity\\Clinical_trial.csv')
df_clinical.head()

  Drug  Pain_Rating
0    A            4
1    A            5
2    A            4
3    A            3
4    A            2

1. Selecing one column

# 1.1 Syntax 1

In [3]:
#select a column with [] (prefered way to select column)
df_clinical['Pain_Rating']

0     4
1     5
2     4
3     3
4     2
5     4
6     3
7     4
8     4
9     6
10    8
11    4
12    5
13    4
14    6
15    5
16    8
17    6
18    6
19    7
20    6
21    6
22    7
23    5
24    6
25    5
26    5
Name: Pain_Rating, dtype: int64

In [8]:
# Check out the data type of the column
type(df_clinical['Pain_Rating'])

pandas.core.series.Series

In [9]:
# Series: attributes and methods
df_clinical['Pain_Rating'].index

RangeIndex(start=0, stop=27, step=1)

# 1.2 Syntax 2

In [10]:
# Select column with.
df_clinical.Pain_Rating

0     4
1     5
2     4
3     3
4     2
5     4
6     3
7     4
8     4
9     6
10    8
11    4
12    5
13    4
14    6
15    5
16    8
17    6
18    6
19    7
20    6
21    6
22    7
23    5
24    6
25    5
26    5
Name: Pain_Rating, dtype: int64

In [ ]:
# Select column with. (pitfalls)

# 1. Selecting two or more columns

In [13]:
# Select 2 or more columns using [[]]
df_clinical[['Drug','Pain_Rating']]

   Drug  Pain_Rating
0     A            4
1     A            5
2     A            4
3     A            3
4     A            2
5     A            4
6     A            3
7     A            4
8     A            4
9     B            6
10    B            8
11    B            4
12    B            5
13    B            4
14    B            6
15    B            5
16    B            8
17    B            6
18    C            6
19    C            7
20    C            6
21    C            6
22    C            7
23    C            5
24    C            6
25    C            5
26    C            5

In [14]:
# Check out the data type of the selection
type(df_clinical[['Drug','Pain_Rating']])

pandas.core.frame.DataFrame

# 1. Adding a new column

# 1.1 Adding a new column with a scalar value

In [15]:
# Adding new column to dataframe
df_clinical['side_effect'] = 3
df_clinical

   Drug  Pain_Rating  side_effect
0     A            4            3
1     A            5            3
2     A            4            3
3     A            3            3
4     A            2            3
5     A            4            3
6     A            3            3
7     A            4            3
8     A            4            3
9     B            6            3
10    B            8            3
11    B            4            3
12    B            5            3
13    B            4            3
14    B            6            3
15    B            5            3
16    B            8            3
17    B            6            3
18    C            6            3
19    C            7            3
20    C            6            3
21    C            6            3
22    C            7            3
23    C            5            3
24    C            6            3
25    C            5            3
26    C            5            3

# 1.2 Adding a new column with an array

# The dataframe has 27 rows, so we need to create 27 elements

In [18]:
# Import numpy
import numpy as np

In [21]:
# Create an array with 27 elements
side_effect = np.arange(0,27)

In [22]:
# Length of the array

len(side_effect)

27

In [23]:
# adding a new column to dataframe with an array
df_clinical['side_effect'] = side_effect
df_clinical

   Drug  Pain_Rating  side_effect
0     A            4            0
1     A            5            1
2     A            4            2
3     A            3            3
4     A            2            4
5     A            4            5
6     A            3            6
7     A            4            7
8     A            4            8
9     B            6            9
10    B            8           10
11    B            4           11
12    B            5           12
13    B            4           13
14    B            6           14
15    B            5           15
16    B            8           16
17    B            6           17
18    C            6           18
19    C            7           19
20    C            6           20
21    C            6           21
22    C            7           22
23    C            5           23
24    C            6           24
25    C            5           25
26    C            5           26

In [31]:
# Create random integer between 0 and 27
int_side_effect = np.random.randint(1,11, size = 27)

In [32]:
# min value inclusive and high value exclusive
min(int_side_effect)
max(int_side_effect)

10

In [33]:
# adding a new column to the dataframe with the random integer array
df_clinical['side_effect'] = int_side_effect
df_clinical

   Drug  Pain_Rating  side_effect
0     A            4            3
1     A            5            8
2     A            4            8
3     A            3            2
4     A            2            5
5     A            4            7
6     A            3            2
7     A            4            1
8     A            4            3
9     B            6            4
10    B            8           10
11    B            4            3
12    B            5            2
13    B            4            1
14    B            6            8
15    B            5            3
16    B            8            4
17    B            6            8
18    C            6            6
19    C            7           10
20    C            6            3
21    C            6            5
22    C            7            2
23    C            5            8
24    C            6            1
25    C            5            1
26    C            5            1

In [34]:
# Create random float numbers between 1 and 100
np.random.uniform(1,100, size = 100)

array([44.83396977, 81.10470811, 34.75302648, 46.06859058, 62.19321429,
       14.95802358, 50.13384002, 59.90786342, 59.2727966 , 43.26086924,
       60.61603324, 33.19994836, 84.56563779,  4.22441182,  5.71798596,
       96.08554976,  9.41270987, 13.19473699, 26.45718889, 89.49084012,
       60.38721729, 67.65314791, 18.36950879, 34.74717328,  1.40044557,
       54.50097549, 53.79326995, 70.06417393, 98.71427222, 50.73060655,
       68.7553463 , 85.89124616,  1.91501147, 96.69868198,  4.10374996,
       37.14368603, 74.05428949, 56.78633913, 92.28492572, 40.29314774,
        4.17147734, 14.71747025, 75.7568402 , 46.17514338, 15.5054802 ,
       89.00965394, 42.18144874, 51.09398822, 82.50935156, 67.10829103,
       60.58628227, 49.39605592,  7.69045587, 21.92518424, 88.63880244,
       63.84161752, 44.64460799, 58.46261619, 73.05341777, 46.44836938,
       45.51637327, 15.00412789, 80.50008735, 85.44469396, 17.97077751,
       19.24220797, 81.61480833, 64.73792372, 80.14445406, 69.27420629,
       78.66098802, 52.88683217, 95.97127475, 47.06730465, 55.41463731,
       24.15389063, 19.44654591,  1.17434471, 94.43163995, 58.86364421,
       76.02675166, 29.9565828 , 31.33294752,  5.93710456, 69.96895345,
       51.56007147, 24.30820478, 13.98740907, 36.44535267, 16.15852292,
       22.73838397, 92.95279934, 92.26525128, 94.26712331, 40.88533266,
       37.93264301, 18.97072311, 95.86672378, 24.96667461, 89.92767336])

In [1]:
import pandas as pd

In [2]:
# Reading the csv file
df_clinical = pd.read_csv('C:\\Users\\Owner\\OneDrive\\MSDS 2025\\DS6021_Intro to Machine learning\\HW or Projects\\Class Activity\\Clinical_trial.csv')
df_clinical.head()

  Drug  Pain_Rating
0    A            4
1    A            5
2    A            4
3    A            3
4    A            2

# 1. Adding a new column

# 1.1 assign()
when to use assign?
    . Add multiple columns in a single line of code
    . when you need to overwrite the values of the existing columns (best practice)
it returns a new object (a copy) with all the original columns in addition to the new ones

In [3]:
import numpy as np

In [5]:
# Create random numbers for our other factors column
factor1 = np.random.randint(1,11,size = 27)
factor2 = np.random.randint(1,11,size = 27)

In [8]:
# Create a series using the random numbers
series1 = pd.Series(factor1, index = np.arange(0,27))
series2 = pd.Series(factor2, index = np.arange(0,27))

In [11]:
# using assign() to add multiple columns
df_clinical = df_clinical.assign(factor1 = series1, factor2= series2)
df_clinical

   Drug  Pain_Rating  factor1  factor2
0     A            4        2        8
1     A            5        3        5
2     A            4        6       10
3     A            3        3        8
4     A            2       10        9
5     A            4        7       10
6     A            3       10        8
7     A            4        1        8
8     A            4        7        9
9     B            6        3        7
10    B            8       10        9
11    B            4        9        5
12    B            5        6       10
13    B            4        3       10
14    B            6        7        8
15    B            5        3        7
16    B            8        7        6
17    B            6        8        6
18    C            6        9       10
19    C            7        1        1
20    C            6        4        7
21    C            6        3        1
22    C            7        2        8
23    C            5        9        3
24    C            6        4       10
25    C            5        3        5
26    C            5        4        7

# 1.2 insert()
inserts a new column at a specific position or index

In [12]:
# Using index() to add a column at a specific position
df_clinical.insert(1,'test',series1)

In [13]:
df_clinical

   Drug  test  Pain_Rating  factor1  factor2
0     A     2            4        2        8
1     A     3            5        3        5
2     A     6            4        6       10
3     A     3            3        3        8
4     A    10            2       10        9
5     A     7            4        7       10
6     A    10            3       10        8
7     A     1            4        1        8
8     A     7            4        7        9
9     B     3            6        3        7
10    B    10            8       10        9
11    B     9            4        9        5
12    B     6            5        6       10
13    B     3            4        3       10
14    B     7            6        7        8
15    B     3            5        3        7
16    B     7            8        7        6
17    B     8            6        8        6
18    C     9            6        9       10
19    C     1            7        1        1
20    C     4            6        4        7
21    C     3            6        3        1
22    C     2            7        2        8
23    C     9            5        9        3
24    C     4            6        4       10
25    C     3            5        3        5
26    C     4            5        4        7

# 1. Math Operations

# 1.1 Operations in columns

In [15]:
# Select a column and calculate total sum
total = df_clinical['Pain_Rating'].sum()

In [18]:
# Count, mean, std, max, and min
df_clinical['Pain_Rating'].count()
df_clinical['Pain_Rating'].mean()
df_clinical['Pain_Rating'].std()
df_clinical['Pain_Rating'].max()
df_clinical['Pain_Rating'].min()

2

In [19]:
# easier calculations with .describe()
df_clinical.describe()

            test  Pain_Rating    factor1    factor2
count  27.000000    27.000000  27.000000  27.000000
mean    5.333333     5.111111   5.333333   7.222222
std     2.961289     1.476309   2.961289   2.577019
min     1.000000     2.000000   1.000000   1.000000
25%     3.000000     4.000000   3.000000   6.000000
50%     4.000000     5.000000   4.000000   8.000000
75%     7.500000     6.000000   7.500000   9.000000
max    10.000000     8.000000  10.000000  10.000000

# 1.2 Operaions in rows

In [20]:
# Calculating the sum in a row
df_clinical['test'] + df_clinical['Pain_Rating']

0      6
1      8
2     10
3      6
4     12
5     11
6     13
7      5
8     11
9      9
10    18
11    13
12    11
13     7
14    13
15     8
16    15
17    14
18    15
19     8
20    10
21     9
22     9
23    14
24    10
25     8
26     9
dtype: int64

In [21]:
# Calculating the average of 'test' and Pain_Rating' and assigning it to the new column
df_clinical['average'] = (df_clinical['test'] + df_clinical['Pain_Rating'])/2

In [22]:
# Showing the dataframe
df_clinical

   Drug  test  Pain_Rating  factor1  factor2  average
0     A     2            4        2        8      3.0
1     A     3            5        3        5      4.0
2     A     6            4        6       10      5.0
3     A     3            3        3        8      3.0
4     A    10            2       10        9      6.0
5     A     7            4        7       10      5.5
6     A    10            3       10        8      6.5
7     A     1            4        1        8      2.5
8     A     7            4        7        9      5.5
9     B     3            6        3        7      4.5
10    B    10            8       10        9      9.0
11    B     9            4        9        5      6.5
12    B     6            5        6       10      5.5
13    B     3            4        3       10      3.5
14    B     7            6        7        8      6.5
15    B     3            5        3        7      4.0
16    B     7            8        7        6      7.5
17    B     8            6        8        6      7.0
18    C     9            6        9       10      7.5
19    C     1            7        1        1      4.0
20    C     4            6        4        7      5.0
21    C     3            6        3        1      4.5
22    C     2            7        2        8      4.5
23    C     9            5        9        3      7.0
24    C     4            6        4       10      5.0
25    C     3            5        3        5      4.0
26    C     4            5        4        7      4.5

# 1. Value counts

In [23]:
# Counting elements
# len function
len(df_clinical['Pain_Rating'])

27

In [24]:
#.count() method
df_clinical['Pain_Rating'].count()

27

In [25]:
# Counting drug elements by category
df_clinical['Drug'].value_counts()

Drug
A    9
B    9
C    9
Name: count, dtype: int64

In [27]:
# Return the relative frequency(divide each invidual value by the sum of the values)
df_clinical['Drug'].value_counts(normalize = True).round(2)

Drug
A    0.33
B    0.33
C    0.33
Name: proportion, dtype: float64

# 1. Sort a dataframe

In [30]:
# Sort by one column
df_clinical.sort_values('Pain_Rating')

   Drug  test  Pain_Rating  factor1  factor2  average
4     A    10            2       10        9      6.0
3     A     3            3        3        8      3.0
6     A    10            3       10        8      6.5
0     A     2            4        2        8      3.0
11    B     9            4        9        5      6.5
8     A     7            4        7        9      5.5
7     A     1            4        1        8      2.5
13    B     3            4        3       10      3.5
2     A     6            4        6       10      5.0
5     A     7            4        7       10      5.5
23    C     9            5        9        3      7.0
15    B     3            5        3        7      4.0
25    C     3            5        3        5      4.0
26    C     4            5        4        7      4.5
1     A     3            5        3        5      4.0
12    B     6            5        6       10      5.5
14    B     7            6        7        8      6.5
18    C     9            6        9       10      7.5
20    C     4            6        4        7      5.0
21    C     3            6        3        1      4.5
9     B     3            6        3        7      4.5
24    C     4            6        4       10      5.0
17    B     8            6        8        6      7.0
19    C     1            7        1        1      4.0
22    C     2            7        2        8      4.5
16    B     7            8        7        6      7.5
10    B    10            8       10        9      9.0

In [33]:
# sort descending by one column
df_clinical.sort_values('Pain_Rating', ascending = False)

   Drug  test  Pain_Rating  factor1  factor2  average
16    B     7            8        7        6      7.5
10    B    10            8       10        9      9.0
22    C     2            7        2        8      4.5
19    C     1            7        1        1      4.0
24    C     4            6        4       10      5.0
21    C     3            6        3        1      4.5
20    C     4            6        4        7      5.0
17    B     8            6        8        6      7.0
9     B     3            6        3        7      4.5
18    C     9            6        9       10      7.5
14    B     7            6        7        8      6.5
23    C     9            5        9        3      7.0
25    C     3            5        3        5      4.0
12    B     6            5        6       10      5.5
1     A     3            5        3        5      4.0
15    B     3            5        3        7      4.0
26    C     4            5        4        7      4.5
0     A     2            4        2        8      3.0
11    B     9            4        9        5      6.5
8     A     7            4        7        9      5.5
7     A     1            4        1        8      2.5
5     A     7            4        7       10      5.5
2     A     6            4        6       10      5.0
13    B     3            4        3       10      3.5
6     A    10            3       10        8      6.5
3     A     3            3        3        8      3.0
4     A    10            2       10        9      6.0

In [34]:
# Sort descending by multiple columns
df_clinical.sort_values(['Pain_Rating','factor1'],ascending = False)

   Drug  test  Pain_Rating  factor1  factor2  average
10    B    10            8       10        9      9.0
16    B     7            8        7        6      7.5
22    C     2            7        2        8      4.5
19    C     1            7        1        1      4.0
18    C     9            6        9       10      7.5
17    B     8            6        8        6      7.0
14    B     7            6        7        8      6.5
20    C     4            6        4        7      5.0
24    C     4            6        4       10      5.0
9     B     3            6        3        7      4.5
21    C     3            6        3        1      4.5
23    C     9            5        9        3      7.0
12    B     6            5        6       10      5.5
26    C     4            5        4        7      4.5
1     A     3            5        3        5      4.0
15    B     3            5        3        7      4.0
25    C     3            5        3        5      4.0
11    B     9            4        9        5      6.5
5     A     7            4        7       10      5.5
8     A     7            4        7        9      5.5
2     A     6            4        6       10      5.0
13    B     3            4        3       10      3.5
0     A     2            4        2        8      3.0
7     A     1            4        1        8      2.5
6     A    10            3       10        8      6.5
3     A     3            3        3        8      3.0
4     A    10            2       10        9      6.0

In [35]:
# Sort descending by multiple columns and update dataframe
df_clinical.sort_values(['Pain_Rating','factor1'],ascending = False, inplace = True)

In [36]:
df_clinical

   Drug  test  Pain_Rating  factor1  factor2  average
10    B    10            8       10        9      9.0
16    B     7            8        7        6      7.5
22    C     2            7        2        8      4.5
19    C     1            7        1        1      4.0
18    C     9            6        9       10      7.5
17    B     8            6        8        6      7.0
14    B     7            6        7        8      6.5
20    C     4            6        4        7      5.0
24    C     4            6        4       10      5.0
9     B     3            6        3        7      4.5
21    C     3            6        3        1      4.5
23    C     9            5        9        3      7.0
12    B     6            5        6       10      5.5
26    C     4            5        4        7      4.5
1     A     3            5        3        5      4.0
15    B     3            5        3        7      4.0
25    C     3            5        3        5      4.0
11    B     9            4        9        5      6.5
5     A     7            4        7       10      5.5
8     A     7            4        7        9      5.5
2     A     6            4        6       10      5.0
13    B     3            4        3       10      3.5
0     A     2            4        2        8      3.0
7     A     1            4        1        8      2.5
6     A    10            3       10        8      6.5
3     A     3            3        3        8      3.0
4     A    10            2       10        9      6.0

In [38]:
# sort descending with a key function
df_clinical.sort_values('Drug', ascending = True, key= lambda col:col.str.lower())

   Drug  test  Pain_Rating  factor1  factor2  average
4     A    10            2       10        9      6.0
6     A    10            3       10        8      6.5
7     A     1            4        1        8      2.5
0     A     2            4        2        8      3.0
2     A     6            4        6       10      5.0
8     A     7            4        7        9      5.5
5     A     7            4        7       10      5.5
1     A     3            5        3        5      4.0
3     A     3            3        3        8      3.0
13    B     3            4        3       10      3.5
11    B     9            4        9        5      6.5
15    B     3            5        3        7      4.0
10    B    10            8       10        9      9.0
9     B     3            6        3        7      4.5
14    B     7            6        7        8      6.5
17    B     8            6        8        6      7.0
16    B     7            8        7        6      7.5
12    B     6            5        6       10      5.5
23    C     9            5        9        3      7.0
21    C     3            6        3        1      4.5
25    C     3            5        3        5      4.0
24    C     4            6        4       10      5.0
20    C     4            6        4        7      5.0
18    C     9            6        9       10      7.5
19    C     1            7        1        1      4.0
22    C     2            7        2        8      4.5
26    C     4            5        4        7      4.5

# 1. Create index

In [1]:
import pandas as pd

In [2]:
# reading and showing the dataframe
df_clinical = pd.read_csv('C:\\Users\\Owner\\OneDrive\\MSDS 2025\\DS6021_Intro to Machine learning\\HW or Projects\\Class Activity\\Clinical_trial.csv')
df_clinical

   Drug  Pain_Rating
0     A            4
1     A            5
2     A            4
3     A            3
4     A            2
5     A            4
6     A            3
7     A            4
8     A            4
9     B            6
10    B            8
11    B            4
12    B            5
13    B            4
14    B            6
15    B            5
16    B            8
17    B            6
18    C            6
19    C            7
20    C            6
21    C            6
22    C            7
23    C            5
24    C            6
25    C            5
26    C            5

In [3]:
import numpy as np
import random

In [16]:
# Creating non repetitive values for the index
new_index = np.arange(1,28)
new_index

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27])

In [17]:
# Shuffling the indexes
random.shuffle(new_index)

In [26]:
# Create a new column with new index
df_clinical['new_index'] = new_index
df_clinical

          Drug  Pain_Rating  new_index
new_index
11           A            4         11
27           A            5         27
18           A            4         18
7            A            3          7
4            A            2          4
15           A            4         15
20           A            3         20
23           A            4         23
24           A            4         24
25           B            6         25
12           B            8         12
16           B            4         16
22           B            5         22
6            B            4          6
9            B            6          9
21           B            5         21
10           B            8         10
19           B            6         19
17           C            6         17
3            C            7          3
2            C            6          2
5            C            6          5
26           C            7         26
14           C            5         14
1            C            6          1
13           C            5         13
8            C            5          8

# 2. Set Index

In [27]:
df_clinical.set_index('new_index', inplace = True)

In [28]:
df_clinical

          Drug  Pain_Rating
new_index
11           A            4
27           A            5
18           A            4
7            A            3
4            A            2
15           A            4
20           A            3
23           A            4
24           A            4
25           B            6
12           B            8
16           B            4
22           B            5
6            B            4
9            B            6
21           B            5
10           B            8
19           B            6
17           C            6
3            C            7
2            C            6
5            C            6
26           C            7
14           C            5
1            C            6
13           C            5
8            C            5

# 3. Sort index

In [29]:
# sort dataframe by index
df_clinical.sort_index()

          Drug  Pain_Rating
new_index
1            C            6
2            C            6
3            C            7
4            A            2
5            C            6
6            B            4
7            A            3
8            C            5
9            B            6
10           B            8
11           A            4
12           B            8
13           C            5
14           C            5
15           A            4
16           B            4
17           C            6
18           A            4
19           B            6
20           A            3
21           B            5
22           B            5
23           A            4
24           A            4
25           B            6
26           C            7
27           A            5

In [30]:
# Sort descending by index
df_clinical.sort_index(ascending = False, inplace = True)

In [31]:
df_clinical

          Drug  Pain_Rating
new_index
27           A            5
26           C            7
25           B            6
24           A            4
23           A            4
22           B            5
21           B            5
20           A            3
19           B            6
18           A            4
17           C            6
16           B            4
15           A            4
14           C            5
13           C            5
12           B            8
11           A            4
10           B            8
9            B            6
8            C            5
7            A            3
6            B            4
5            C            6
4            A            2
3            C            7
2            C            6
1            C            6

# 1. Rename column

In [37]:
# rename the column and overwrite the values of the dataframe
df_clinical.rename(columns = {'Pain_Rating':'pain rating'})

          drug  pain rating
new_index
27           A            5
26           C            7
25           B            6
24           A            4
23           A            4
22           B            5
21           B            5
20           A            3
19           B            6
18           A            4
17           C            6
16           B            4
15           A            4
14           C            5
13           C            5
12           B            8
11           A            4
10           B            8
9            B            6
8            C            5
7            A            3
6            B            4
5            C            6
4            A            2
3            C            7
2            C            6
1            C            6

In [40]:
# rename multiple columns and update the dataframe with inplace argument
df_clinical.rename(columns = {'new_index': 'new index',
                             'Drug': 'drug','Pain_Rating' : ' pain rating'},inplace = True)

In [41]:
# show dataframe
df_clinical

          drug   pain rating
new_index
27           A             5
26           C             7
25           B             6
24           A             4
23           A             4
22           B             5
21           B             5
20           A             3
19           B             6
18           A             4
17           C             6
16           B             4
15           A             4
14           C             5
13           C             5
12           B             8
11           A             4
10           B             8
9            B             6
8            C             5
7            A             3
6            B             4
5            C             6
4            A             2
3            C             7
2            C             6
1            C             6